{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Display shown on the audience screen overlayed over the video.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Audience Display - {{.EventSettings.Name}} - Cyber Arena </title>
    <link rel="shortcut icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/cheesy-arena.css" />
    <link rel="stylesheet" href="/static/css/audience_display.css" />
  </head>
  <body>
    <div id="overlayCentering">
      <div id="matchOverlayContainer" style="background-color: white;">
        <div class="elim-alliance" id="leftElimAlliance"></div>
        <div id="matchOverlay">
          <div id="matchOverlayTop">
            <div class="score reversible-left">
              <div class="cr-score-and-team-number-wrapper">
                <span class="cr-alliance-name">Aliança Azul</span>
                <div class="teams" id="leftTeams">
                  <div id="leftTeam1"></div>
                  <span class="cr-amp-span">&</span>
                  <div id="leftTeam2"></div>
                  {{ if eq .EventSettings.TeamsPerAlliance 3 }}
                    <span class="cr-amp-span">&</span>
                    <div id="leftTeam3"></div>
                  {{ end }}
                </div>
              </div>
              <div class="avatars">
                <img class="avatar" id="leftTeam1Avatar" src="" />
                <img class="avatar" id="leftTeam2Avatar" src="" />
                <img class="avatar" id="leftTeam3Avatar" src="" />
              </div>
              <div class="score-number" id="leftScoreNumber"></div>
            </div>
            <div id="matchTime"></div>
            <div class="score score-right reversible-right">
              <div class="avatars">
                <img class="avatar" id="rightTeam1Avatar" src="" />
                <img class="avatar" id="rightTeam2Avatar" src="" />
                <img class="avatar" id="rightTeam3Avatar" src="" />
              </div>
              <div class="score-number" id="rightScoreNumber"></div>
              <div class="cr-score-and-team-number-wrapper">
                <span class="cr-alliance-name">Aliança Vermelha</span>
                <div class="teams" id="rightTeams">
                  <div id="rightTeam1"></div>
                  <span class="cr-amp-span">&</span>
                  <div id="rightTeam2"></div>
                  {{ if eq .EventSettings.TeamsPerAlliance 3 }}
                    <span class="cr-amp-span">&</span>
                    <div id="rightTeam3"></div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
          <div id="eventMatchInfo">
            <span class="cr-powered-by-us" style="background-color: #444; padding-left: 2vh; padding-right: 2vh;">Powered by <b>#9611</b></span>
             <div class="cr-container">
              <div class="cr-box">
                <span>{{.EventSettings.Name}}</span>
              </div>
            </div>
            <div style="background-color: #444; padding-left: 2vh; padding-right: 2vh;">
              <span style="text-align: center;" id="matchName"></span>
            </div>
          </div>
        </div>
        <div class="elim-alliance" id="rightElimAlliance"></div>
      </div>
      <div id="elimSeriesStatus">
        <span id="leftElimAllianceWins"></span>&nbsp;-&nbsp;<span id="rightElimAllianceWins"></span>
      </div>
      <!-- <div class="text-center" id="matchCircle">
        <img id="logo" src="/static/img/lower-third-logo.png" alt="logo" />
        <div id="matchTime"></div>
      </div> -->
    </div>
    <div id="blindsContainer">
      <div class="blinds right background">
        <div class="blindsCenter blank"></div>
      </div>
      <div class="blinds left background">
        <div class="blindsCenter blank"></div>
      </div>
      <div class="blindsCenter full">
        <!-- <img id="blindsLogo" src="/static/img/lower-third-logo.png" alt="logo" /> -->
        <img id="blindsLogo" src="/static/img/cr-logo-xsr-purple.svg" alt="logo" />
      </div>
      <div id="finalScore">
        <div class="cr-alliance-blind-container">
          <div class="cr-left-alliance-blind-container">
            <span class="cr-alliance-name">Aliança Azul</span>
            <span id="cr-blue-wins-winner-text" class="cr-alliance-wins cr-awl">WINNER</span>
          </div>
          <div class="cr-right-alliance-blind-container">
            <span id="cr-red-wins-winner-text" class="cr-alliance-wins cr-awr">WINNER</span>
            <span class="cr-alliance-name">Aliança Vermelha</span>
          </div>
        </div>
        <div class="cr-final-result-container">
          <span class="cr-final-result-title">Resultado</span>
          <div class="cr-final-result-scores-wrapper">
            <div class="cr-blue-alliance-scores">
              <span id="cr-blue-wins-winner-card-top" class="cr-win-top">WINNER</span>
              <div class="cr-final-score-text-container">
                <span class="cr-alliance-name">
                  Aliança<br/>
                  Azul
                </span>
                <div class="final-score reversible-left" id="leftFinalScore"></div>
              </div>
              <hr class="cr-hr-final-score">
              <div class="cr-final-team-wrapper">
                <div class="final-team" id="leftFinalTeam1"></div><img class="final-avatar" id="leftFinalTeam1Avatar" src="" />
                <div class="final-team" id="leftFinalTeam2"></div><img class="final-avatar" id="leftFinalTeam2Avatar" src="" />
                {{ if eq .EventSettings.TeamsPerAlliance 3 }}
                  <div class="final-team" id="leftFinalTeam3"></div><img class="final-avatar" id="leftFinalTeam3Avatar" src="" />
                {{ end }}
              </div>
              <hr class="cr-hr-final-score">
              <div class="cr-final-score-wrapper">
                <div class="cr-final-score-type-wrapper">
                  <span class="cr-final-score-type-name">Autônomo</span>
                  <span class="cr-score-points-span" id="leftFinalAutoPoints"></span><br />
                </div>
                <div class="cr-final-score-type-wrapper">
                  <span class="cr-final-score-type-name">Teleoperado</span>
                  <span class="cr-score-points-span" id="leftFinalTeleopPoints"></span><br />
                </div>
                <div class="cr-final-score-type-wrapper">
                  <span class="cr-final-score-type-name">Endgame</span>
                  <span class="cr-score-points-span" id="leftFinalEndgamePoints"></span><br />
                </div>
                <hr class="cr-hr-final-score" style="margin-block: 24px;">
                <div class="cr-final-score-type-wrapper">
                  <span class="cr-final-score-type-name">Coopertition</span>
                  <span class="cr-score-points-span" id="leftCoopertitionPoints"></span><br />
                </div>
                <hr class="cr-hr-final-score" style="margin-block: 24px;">
                <div class="cr-final-score-type-wrapper">
                  <span class="cr-final-score-type-name">Penalidades</span>
                  <span class="cr-score-points-span" id="leftFinalFoulPoints"></span><br />
                </div>
              </div>
              {{ if eq .EventSettings.TeamsPerAlliance 3 }}
                <div class="final-team" id="rightFinalTeam3"></div><img class="final-avatar" id="rightFinalTeam3Avatar" src="" />
              {{ end }}            
            </div>
            <div class="cr-red-alliance-scores">
              <span id="cr-red-wins-winner-card-top" class="cr-win-top">WINNER</span>
              <div class="cr-final-score-text-container">
                <div class="final-score reversible-right" id="rightFinalScore"></div>
                <span class="cr-reversed cr-alliance-name">
                  Aliança<br/>
                  Vermelha
                </span>
              </div>
              <hr class="cr-hr-final-score">
              <div class="cr-final-team-wrapper">
                <div class="final-team" id="rightFinalTeam1"></div><img class="final-avatar" id="rightFinalTeam1Avatar" src="" />
                <div class="final-team" id="rightFinalTeam2"></div><img class="final-avatar" id="rightFinalTeam2Avatar" src="" />
              </div>
              <hr class="cr-hr-final-score">
              <div class="cr-final-score-wrapper">
                <div class="cr-reversed cr-final-score-type-wrapper">
                  <span class="cr-reversed cr-final-score-type-name">Autônomo</span>
                  <span class="cr-reversed cr-score-points-span" id="rightFinalAutoPoints"></span><br />
                </div>
                <div class="cr-reversed cr-final-score-type-wrapper">
                  <span class="cr-reversed cr-final-score-type-name">Teleoperado</span>
                  <span class="cr-reversed cr-score-points-span" id="rightFinalTeleopPoints"></span><br />
                </div>
                <div class="cr-reversed cr-final-score-type-wrapper">
                  <span class="cr-reversed cr-final-score-type-name">Endgame</span>
                  <span class="cr-reversed cr-score-points-span" id="rightFinalEndgamePoints"></span><br />
                </div>
                <hr class="cr-hr-final-score" style="margin-block: 24px;">
                <div class="cr-reversed cr-final-score-type-wrapper">
                  <span class="cr-reversed cr-final-score-type-name">Coopertition</span>
                  <span class="cr-reversed cr-score-points-span" id="righCoopertitionPoints"></span><br />
                </div>
                <hr class="cr-hr-final-score" style="margin-block: 24px;">
                <div class="cr-reversed cr-final-score-type-wrapper">
                  <span class="cr-reversed cr-final-score-type-name">Penalidades</span>
                  <span class="cr-reversed cr-score-points-span" id="righFinalFoulPoints"></span><br />
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div style="display: none;">
          <div class="final-teams" id="leftFinalTeams">
          </div>
          <div class="final-teams" id="rightFinalTeams">
            <div class="final-team" id="rightFinalTeam1"></div><img class="final-avatar" id="rightFinalTeam1Avatar" src="" />
            <div class="final-team" id="rightFinalTeam2"></div><img class="final-avatar" id="rightFinalTeam2Avatar" src="" />
            <!-- <div class="final-team" id="rightFinalTeam3"></div><img class="final-avatar" id="rightFinalTeam3Avatar" src="" /> -->
          </div>
          <div class="final-breakdown" id="leftFinalBreakdown">
            <span class="valign-cell">
              <span id="leftFinalAutoPoints"></span><br />
              <span id="leftFinalTeleopPoints"></span><br />
              <span id="leftFinalEndgamePoints"></span><br />
            </span>
          </div>
          <div class="final-breakdown" id="centerFinalBreakdown">
            <span class="valign-cell">Auto<br />Teleop<br />Endgame</span>
          </div>
          <div class="final-breakdown" id="rightFinalBreakdown">
            <span class="valign-cell">
              <span id="rightFinalAutoPoints"></span><br />
              <span id="rightFinalTeleopPoints"></span><br />
              <span id="rightFinalEndgamePoints"></span><br />
            </span>
          </div>
        </div>

        <div id="finalEventMatchInfo">
          <div class="final-footer">{{.EventSettings.Name}}</div>
          <div class="final-footer" id="finalSeriesStatus">&nbsp;</div>
          <div class="final-footer" id="finalMatchName">&nbsp;</div>
        </div>
      </div>
      <div id="bracket">
        <img id="bracketSvg" src="" />
      </div>
      <div id="sponsor" class="carousel slide">
        <div class="carousel-inner" id="sponsorContainer">
        </div>
      </div>
    </div>
    <div id="allianceSelectionCentering" style="display: none;">
      <div id="allianceSelection"></div>
    </div>
    <div id="lowerThird">
      <!-- <img id="lowerThirdLogo" src="/static/img/lower-third-logo.png" alt="logo" /> -->
      <img id="lowerThirdLogo" src="/static/img/cr-logo-xsr-purple.svg" alt="logo" />
      <div id="lowerThirdTop"></div>
      <div id="lowerThirdBottom"></div>
      <div id="lowerThirdSingle"></div>
    </div>
    <script id="allianceSelectionTemplate" type="text/x-handlebars-template">
      <table id="allianceSelectionTable">
        <tr>
          <td colspan="{{"{{numColumns}}"}}">
            <span>Seleção de Alianças</span><br>
            <img src="/static/img/alliance-selection-logo.png" alt="logo" />
            <img src="/static/img/favicon.ico" style="position: relative; height: 15%; width: 15%;" alt="logo" />
          </td>
        </tr>
        {{"{{#each alliances}}"}}
          <tr>
            <td class="alliance-cell">{{"{{Index}}"}}</td>
            {{"{{#each this.TeamIds}}"}}
              <td class="selection-cell">{{"{{#if this}}"}}{{"{{this}}"}}{{"{{/if}}"}}</td>
            {{"{{/each}}"}}
          </tr>
        {{"{{/each}}"}}
      </table>
    </script>
    <script id="sponsorImageTemplate" type="text/x-handlebars-template">
      <div class="item{{"{{#if First}}"}} active{{"{{/if}}"}}" data-interval="{{"{{DisplayTimeMs}}"}}">
        <div class="sponsor-image-container">
          <img src="/static/img/sponsors/{{"{{Image}}"}}" />
        </div>
        <h1>{{"{{Subtitle}}"}}</h1>
      </div>
    </script>
    <script id="sponsorTextTemplate" type="text/x-handlebars-template">
      <div class="item{{"{{#if First}}"}} active{{"{{/if}}"}}" data-interval="{{"{{DisplayTimeMs}}"}}">
        <h2>{{"{{Line1}}"}}<br />{{"{{Line2}}"}}</h2>
        <h1>{{"{{Subtitle}}"}}</h1>
      </div>
    </script>
    {{range $sound := .MatchSounds}}
      <audio id="sound-{{$sound.Name}}" src="/static/audio/{{$sound.Name}}.{{$sound.FileExtension}}" preload="auto">
      </audio>
    {{end}}
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
    <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
    <script src="/static/js/lib/jquery.transit.min.js"></script>
    <script src="/static/js/lib/handlebars-1.3.0.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/cheesy-websocket.js"></script>
    <script src="/static/js/match_timing.js"></script>
    <script src="/static/js/audience_display.js"></script>
  </body>
</html>
