{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Base template used by most pages to include common resources and optionally render the top bar.
*/}}
{{define "base"}}
  <!DOCTYPE html>
  <html>
    <head>
      {{template "head_common" .}}
      <style>
        /* Add custom styles for the sidebar */
        .sidebar {
          height: 100%;
          width: 250px;
          position: fixed;
          top: 0;
          right: 0;
          background-color: #111;
          padding-top: 20px;
          z-index: 1000;
        }
        .sidebar a {
          padding: 10px 15px;
          text-decoration: none;
          font-size: 18px;
          color: white;
          display: block;
        }
        .sidebar a:hover {
          background-color: #575757;
        }
        .main-content {
          margin-right: 250px; /* Same as the width of the sidebar */
        }
      </style>
    </head>
    <body>
      <div class="sidebar">
        <a class="navbar-brand" href="/"><b>CyberArena Lite</b></a>
        <ul class="nav navbar-nav" style="display: flex; flex-direction: column; padding: 7px;">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle cr-sidebar-dropdown-menu-btn" data-toggle="dropdown">Configurações</a>
            <ul class="dropdown-menu">
              <li><a href="/setup/settings">Configurações</a></li>
              <li><a href="/setup/teams">Lista de Equipes</a></li>
              <li><a href="/setup/schedule">Agendamento de Partidas</a></li>
              <li><a href="/setup/awards">Prêmios</a></li>
              <li><a href="/setup/lower_thirds">Terços Inferiores</a></li>
              <li><a href="/setup/sponsor_slides">Slides de Patrocinadores</a></li>
              <li><a href="/setup/displays">Configuração de Exibição</a></li>
              <li><a href="/setup/field_testing">Teste de Campo</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle cr-sidebar-dropdown-menu-btn" data-toggle="dropdown">Execução</a>
            <ul class="dropdown-menu">
              <li><a href="/match_play">Execução de Partidas</a></li>
              <li><a href="/match_review">Revisão de Partidas</a></li>
              <li><a href="/static/logs">Logs de Partidas</a></li>
              <li><a href="/alliance_selection">Seleção de Alianças</a></li>
            </ul>
            </li>
            <li class="dropdown">
              <a href="/referee" class="cr-sidebar-dropdown-menu-btn">Arbitragem</a>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle cr-sidebar-dropdown-menu-btn" data-toggle="dropdown">Relatórios</a>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Relatórios em PDF</li>
              <li><a target="_blank" href="/reports/pdf/teams">Lista de Equipes</a></li>
              <li><a target="_blank" href="/reports/pdf/schedule/practice">Agenda de Treinos</a></li>
              <li><a target="_blank" href="/reports/pdf/schedule/qualification">Agenda de Qualificação</a></li>
              <li><a target="_blank" href="/reports/pdf/schedule/elimination">Agenda de Eliminatórias</a></li>
              <li><a target="_blank" href="/reports/pdf/rankings">Classificação</a></li>
              <li><a target="_blank" href="/reports/pdf/alliances">Alianças de Eliminatórias</a></li>
              <li><a target="_blank" href="/reports/pdf/bracket">Chave de Eliminatórias</a></li>
              <li><a target="_blank" href="/reports/pdf/backups">Equipes de Backup</a></li>
              <li><a target="_blank" href="/reports/pdf/coupons">Cupons de Alianças de Eliminatórias</a></li>
              <li><a target="_blank" href="/reports/pdf/teams?showHasConnected=true">Status de Conexão das Equipes</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Exportação de Dados CSV</li>
              <li><a target="_blank" href="/reports/csv/teams">Lista de Equipes</a></li>
              <li><a target="_blank" href="/reports/csv/schedule/practice">Agenda de Treinos</a></li>
              <li><a target="_blank" href="/reports/csv/schedule/qualification">Agenda de Qualificação</a></li>
              <li><a target="_blank" href="/reports/csv/schedule/elimination">Agenda de Eliminatórias</a></li>
              <li><a target="_blank" href="/reports/csv/rankings">Classificação</a></li>
              <li><a target="_blank" href="/reports/csv/backups">Equipes de Backup</a></li>
              {{if .EventSettings.NetworkSecurityEnabled}}
              <li><a target="_blank" href="/reports/csv/wpa_keys">Chaves WPA</a></li>
              {{end}}
            </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle cr-sidebar-dropdown-menu-btn" data-toggle="dropdown">Exibição</a>
            <ul class="dropdown-menu">
              <li><a href="/display">Placeholder</a></li>
              <li><a href="/displays/announcer">Anunciador</a></li>
              <li><a href="/displays/audience">Público</a></li>
              <li><a href="/displays/bracket">Chave</a></li>
              <li><a href="/displays/field_monitor">Monitor de Campo</a></li>
              <li><a href="/displays/field_monitor?fta=true">Monitor de Campo (FTA)</a></li>
              <li><a href="/displays/queueing">Fila</a></li>
              <li><a href="/displays/rankings">Classificação</a></li>
              <li class="divider"></li>
              <li class="dropdown-header">Estação de Aliança</li>
              <li><a href="/displays/alliance_station?station=R1">Vermelho 1</a></li>
              <li><a href="/displays/alliance_station?station=R2">Vermelho 2</a></li>
              <li><a href="/displays/alliance_station?station=R3">Vermelho 3</a></li>
              <li><a href="/displays/alliance_station?station=B1">Azul 1</a></li>
              <li><a href="/displays/alliance_station?station=B2">Azul 2</a></li>
              <li><a href="/displays/alliance_station?station=B3">Azul 3</a></li>
              <li><a href="/displays/alliance_station?station=N2">Relógio</a></li>
              <li><a href="/displays/alliance_station?station=N3">Pontuação Vermelha</a></li>
              <li><a href="/displays/alliance_station?station=N1">Pontuação Azul</a></li>
            </ul>
            </li>

            <a href="#" class="cr-sidebar-about-btn" onclick="$('#aboutPage').modal('show');">
              <strong style="display: flex; align-items: center; justify-content: center; gap: 5px;">
                Sobre
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11h2v5m-2 0h4m-2.592-8.5h.01M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                </svg>
              </strong>
            </a>
        </ul>

      </div>
      <div class="main-content">
        <div class="navbar navbar-default navbar-static-top bg-cyber-purple" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="/"><b>CyberArena Lite<span id="blink">_</span></b></a>            <button type="button" class="navbar-toggle" data-toggle="collapse"
                  data-target="#navbar-collapse-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="container">
          {{template "body" .}}
        </div>
        <div id="aboutPage" class="modal" style="top: 20%;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">About Cheesy Arena Lite</h4>
              </div>
              <div class="modal-body">
                <p>A game-agnostic field management system that just works.</p>
                <p>Copyright &copy; 2014-2022 Team 254. All Rights Reserved.</p>
                <p>
                  <a href="https://github.com/Team254/cheesy-arena-lite">https://github.com/Team254/cheesy-arena-lite</a>
                </p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{template "script_common" .}}
      {{template "script" .}}
    </body>
  </html>
{{end}}

{{define "base_no_navbar"}}
  <!DOCTYPE html>
  <html>
    <head>
      {{template "head_common" .}}
      {{template "head" .}}
    </head>
    <body>
      <div class="container">
        {{template "body" .}}
      </div>
      {{template "script_common" .}}
      {{template "script" .}}
    </body>
  </html>
{{end}}

{{define "head_common"}}
  <title>{{template "title" .}} - {{.EventSettings.Name}} - Cyber Arena Lite</title>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon" href="/static/img/apple-icon.png">
  <link href="/static/css/lib/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/lib/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="/static/css/cheesy-arena.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{end}}

{{define "script_common"}}
  <script src="/static/js/lib/jquery.min.js"></script>
  <script src="/static/js/lib/jquery.json-2.4.min.js"></script>
  <script src="/static/js/lib/jquery.websocket-0.0.1.js"></script>
  <script src="/static/js/lib/bootstrap.min.js"></script>
  <script src="/static/js/lib/moment.min.js"></script>
  <script src="/static/js/lib/bootstrap-datetimepicker.min.js"></script>
  <script src="/static/js/lib/handlebars-1.3.0.js"></script>
  <script src="/static/js/cheesy-websocket.js"></script>
{{end}}
