{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Root page and entry point to Cheesy Arena/Cyber Arena.
*/}}
{{define "title"}}Home{{end}}
{{define "body"}}
<div class="jumbotron">
  <h2>Bem-vindo ao Cyber Arena Lite.</h2>
  <p>Use a barra de navegação no topo para configurar o evento, jogar e pontuar partidas, visualizar e imprimir relatórios,
    ou lançar displays.</p>
  <p>Para controle de partidas, vá diretamente para
    <a href="/match_play">Execução de Partidas</a>.</p>
</div>
{{end}}
{{define "script"}}{{end}}
