{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  Root page and entry point to Cheesy Arena/Cyber Arena.
*/}}
{{define "title"}}Home{{end}}
{{define "body"}}
<div class="jumbotron" style="border-radius: 0; background-color: #111111; color: #d8d8d8;">
  <img src="../static/img/cyber-pd.png" width="5%" style="margin-right: 2.5%;"/>
  <img src="../static/img/fd_frc_reefscape_logo+frc lockup_horizontal_white_rgb.png" width="25%"/>
  <h2 style="color: #d8d8d8;">Bem-vindo ao Cyber Arena Lite.</h2>
  <h5 style="color: #d8d8d8;"><b>Versão: 1.1 BETA - REEFSCAPE℠</b></h5>
  <hr/>
  <p>Use a barra de navegação no topo para configurar o evento, jogar e pontuar partidas, visualizar e imprimir relatórios,
    ou lançar displays.</p>
  <p>Para controle de partidas, vá diretamente para
    <a href="/match_play">Execução de Partidas</a>.</p>
  <hr/>
  <h5 style="color: #d8d8d8;"><i>Cyber Arena Lite é uma versão altamente modificada do Cheesy Arena Lite (desenvolvido pela equipe The Cheesy Puffs #254).</i></h5>
</div>
{{end}}
{{define "script"}}{{end}}
