{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: nick@team254.com (Nick Eyre)
  Author: pat@patfairbank.com (Patrick Fairbank)

  Display for showing team rankings.
*/}}
<!DOCTYPE html>
<html>
  <head>
    <title>Rankings Display - {{.EventSettings.Name}} - Cheesy Arena </title>
    <link rel="shortcut icon" href="{{url "/static/img/favicon.ico"}}">
    <link rel="stylesheet" href="{{url "/static/css/lib/bootstrap.min.css"}}" />
    <link rel="stylesheet" href="{{url "/static/css/cheesy-arena.css"}}" />
    <link rel="stylesheet" href="{{url "/static/css/rankings_display.css"}}" />
  </head>
  <body data-is-fll="{{.EventSettings.IsFll}}">
    <div id="column">
      <div id="titlebar">
        <div class="pull-left">COLOCAÇÃO GERAL<br/></div>
        <div class="pull-right">{{.EventSettings.Name}}</div>
        <div>&nbsp;</div>
      </div>
      <div id="standings">
        <table id="header">
          {{if .EventSettings.IsFll}}
          <tr>
            <td class="team-field">Rank</td>
            <td class="team-nickname">Equipe</td>
            <td class="team-field">Melhor</td>
            <td class="team-field">Rodada 1</td>
            <td class="team-field">Rodada 2</td>
            <td class="team-field">Rodada 3</td>
          </tr>
          {{else}}
          <tr id="standingsHeader"></tr>
          {{end}}
        </table>
        <div id="container">
          <div id="scroller">
            <table id="rankings1" class="table table-striped rankings-table"></table>
            <table id="rankings2" class="table table-striped rankings-table"></table>
          </div>
        </div>
        <div id="footer">
          <span id="highestPlayedMatch"></span>
        </div>
      </div>
      <div id="earlyLateMessage"></div>
      <span style="font-size: 18px; font-style: italic; color: white;">Powered by CyberArena</span>
    </div>

    <!-- Templates -->
    {{if .EventSettings.IsFll}}
    <script id="fllStandingsTemplate" type="text/x-handlebars-template">
      <tbody>
        {{"{{#each Rankings}}"}}
          <tr>
            <td class="team-field">{{"{{../Iteration}}"}} {{"{{this.Rank}}"}}</td>
            <td class="team-nickname">{{"{{this.TeamId}}"}} - {{"{{this.Nickname}}"}}</td>
            <td class="team-field">{{"{{this.FLLBest}}"}}</td>
            <td class="team-field">{{"{{this.R1}}"}}</td>
            <td class="team-field">{{"{{this.R2}}"}}</td>
            <td class="team-field">{{"{{this.R3}}"}}</td>
          </tr>
        {{"{{/each}}"}}
      </tbody>
    </script>
    {{else}}
    <script id="standingsHeaderTemplate" type="text/x-handlebars-template">
      <td class="team-field">Rank</td>
      <td class="team-field">Equipe</td>
      <td class="team-nickname">Nome</td>
      <td class="team-field">RP</td>
      {{"{{#each Criteria}}"}}<td class="team-field">{{"{{this.Label}}"}}</td>{{"{{/each}}"}}
      <td class="team-field">V-D-E</td>
      <td class="team-field">DQ</td>
      <td class="team-field">Jogadas</td>
    </script>
    <script id="standingsTemplate" type="text/x-handlebars-template">
      <tbody>
        {{"{{#each Rankings}}"}}
          <tr>
            <td class="team-field">{{"{{../Iteration}}"}} {{"{{this.Rank}}"}}</td>
            <td class="team-field">{{"{{this.TeamId}}"}}</td>
            <td class="team-nickname">{{"{{this.Nickname}}"}}</td>
            <td class="team-field">{{"{{this.RankingPoints}}"}}</td>
            {{"{{#each this.Sort}}"}}<td class="team-field">{{"{{this}}"}}</td>{{"{{/each}}"}}
            <td class="team-field">{{"{{this.Wins}}"}}-{{"{{this.Losses}}"}}-{{"{{this.Ties}}"}}</td>
            <td class="team-field">{{"{{this.Disqualifications}}"}}</td>
            <td class="team-field">{{"{{this.Played}}"}}</td>
          </tr>
        {{"{{/each}}"}}
      </tbody>
    </script>
    {{end}}

    <script src="{{url "/static/js/lib/handlebars-1.3.0.js"}}"></script>
    <script src="{{url "/static/js/lib/jquery.min.js"}}"></script>
    <script src="{{url "/static/js/lib/jquery.json-2.4.min.js"}}"></script>
    <script src="{{url "/static/js/lib/jquery.websocket-0.0.1.js"}}"></script>
    <script src="{{url "/static/js/lib/jquery.transit.min.js"}}"></script>
    <script src="{{url "/static/js/cheesy-websocket.js"}}"></script>
    <script src="{{url "/static/js/rankings_display.js"}}"></script>
  </body>
</html>
