{{/*
  Copyright 2018 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for configuring the field displays.
*/}}
{{define "title"}}Configuração de Display{{end}}
{{define "body"}}
<div class="row">
  <div class="col-lg-12">
    <legend style="color:white;">Displays Conectados</legend>
    <table class="table">
      <thead>
      <tr>
        <th style="color: white !important;">ID</th>
        <th style="color: white !important;"># Conectados</th>
        <th style="color: white !important;">Endereço IP</th>
        <th style="color: white !important;">Apelido</th>
        <th style="color: white !important;">Tipo</th>
        <th style="color: white !important;">Configuração</th>
        <th style="color: white !important;">Ação</th>
      </tr>
      </thead>
      <tbody id="displayContainer"></tbody>
    </table>
    <button type="button" class="btn btn-primary pull-right" onclick="reloadAllDisplays();">
      Forçar Recarregamento de Todos os Displays
    </button>
  </div>
</div>

<script id="displayTemplate" type="text/x-handlebars-template">
  <tr{{"{{#unless ConnectionCount}}"}} class="danger"{{"{{/unless}}"}}>
    <td><b>{{"{{DisplayConfiguration.Id}}"}}</b></td>
    <td>{{"{{ConnectionCount}}"}}</td>
    <td>{{"{{IpAddress}}"}}</td>
    <td>
      <input type="text" style="background-color: #111010a9 !important; opacity: 100% !important; border-radius: 2px; border: 2px solid rgb(8, 8, 8);" id="displayNickname{{"{{DisplayConfiguration.Id}}"}}" size="30"
          oninput="markChanged(this);" />
    </td>
    <td>
      <select id="displayType{{"{{DisplayConfiguration.Id}}"}}" style="background-color: #111010a9 !important; opacity: 100% !important; border-radius: 2px; border: 2px solid rgb(8, 8, 8);" onchange="markChanged(this);">
        {{range $type, $typeName := .DisplayTypeNames}}
          <option value="{{$type}}">{{$typeName}}</option>
        {{end}}
      </select>
    </td>
    <td>
      <input type="text" id="displayConfiguration{{"{{DisplayConfiguration.Id}}"}}" style="background-color: #111010a9 !important; opacity: 100% !important; border-radius: 2px; border: 2px solid rgb(8, 8, 8);" size="50"
          oninput="markChanged(this);" />
    </td>
    <td>
      <button type="button" class="btn btn-info btn-xs" title="Salvar Alterações"
          onclick="configureDisplay('{{"{{DisplayConfiguration.Id}}"}}');">
        <i class="glyphicon glyphicon-ok"></i>
      </button>
      <button type="button" class="btn btn-primary btn-xs" title="Desfazer Alterações" onclick="undoChanges();">
        <i class="glyphicon glyphicon-arrow-left"></i>
      </button>
      <button type="button" class="btn btn-success btn-xs" title="Recarregar Display"
          onclick="reloadDisplay('{{"{{DisplayConfiguration.Id}}"}}');">
        <i class="glyphicon glyphicon-refresh"></i>
      </button>
    </td>
  </tr>
</script>
{{end}}
{{define "script"}}
<script src="/static/js/setup_displays.js"></script>
{{end}}
