{{/*
  Copyright 2019 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for configuring the awards.
*/}}
{{define "title"}}Configuração de Prêmios{{end}}
{{define "body"}}
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <div class="well">
      <legend>Configuração de Prêmios</legend>
      {{range $award := .Awards}}
        <form class="form-horizontal existing" method="POST">
          <div class="form-group">
            <div class="col-lg-8">
              <input type="hidden" name="id" value="{{$award.Id}}" />
              <div class="form-group">
                <label class="col-sm-5 control-label">Nome do Prêmio</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="awardName" value="{{$award.AwardName}}"
                      placeholder="Safety Award">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Equipe Premiada</label>
                <div class="col-sm-7">
                  <select class="form-control" name="teamId">
                    <option value="0">Nenhuma Equipe</option>
                    {{range $team := $.Teams}}
                      <option value="{{$team.Id}}"{{if eq $award.TeamId $team.Id}}}} selected{{end}}>
                        {{$team.Id}} - {{$team.Nickname}}
                      </option>
                    {{end}}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-5 control-label">Pessoa Premiada</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" name="personName" value="{{$award.PersonName}}">
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <button type="submit" class="btn btn-info btn-lower-third" name="action" value="save">Salvar</button>
              {{if gt $award.Id 0}}
                <button type="submit" class="btn btn-primary btn-lower-third" name="action" value="delete">
                  Excluir
                </button>
              {{end}}
            </div>
          </div>
        </form>
      {{end}}
      Prêmios de Vencedor e Finalista serão gerados automaticamente uma vez que o torneio de playoffs esteja completo.
      {{if .EventSettings.TbaPublishingEnabled}}
        <br /><br />
        <div class="row text-center">
          <div class="form-group">
            <button type="button" class="btn btn-info" onclick="$('#confirmPublishAwards').modal('show');">
              Publicar Prêmios no TBA
            </button>
          </div>
        </div>
      {{end}}
    </div>
  </div>
</div>
<div id="confirmPublishAwards" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p>Você tem certeza que deseja publicar os prêmios no The Blue Alliance? Isso irá sobrescrever qualquer dado de prêmio existente.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/awards/publish" method="POST">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Publicar Prêmios</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
{{end}}
