{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for configuring the team list for an event.
*/}}
{{define "title"}}Team List{{end}}
{{define "body"}}
{{if .ShowErrorMessage}}
  <div class="alert alert-dismissable alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    Você não pode modificar a lista de equipes uma vez que o cronograma de qualificação foi gerado. Se você precisar mudar a lista de equipes, limpe todos os outros dados primeiro na página de Configurações.
  </div>
{{end}}
<div class="row">
  <div class="col-lg-2">
    <form class="form-horizontal" action="/setup/teams" method="POST">
      <fieldset>
        <legend style="color: white !important;">Importar Equipes</legend>
        {{if not .EventSettings.TBADownloadEnabled}}<p>Para baixar automaticamente dados sobre as equipes, habilite o Download de Informações da TBA na página de configurações</p>{{end}}
        <div class="form-group">
          <textarea style="background-color: black !important; opacity: 50% !important;" class="form-control" rows="10" name="teamNumbers"
              placeholder="Um número de equipe por linha"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">Adicionar Equipes</button>
        </div>
        {{if .EventSettings.TBADownloadEnabled}}
          <div class="form-group">
            <a href="/setup/teams/refresh" class="btn btn-info">Atualizar Dados pelo TBA</a>
          </div>
        {{end}}
        <div class="form-group">
          <button type="button" class="btn btn-primary" onclick="$('#confirmClearTeams').modal('show');">
            Limpar Lista de Equipes
          </button>
        </div>
        {{if .EventSettings.TbaPublishingEnabled}}
          <div class="form-group">
            <button type="button" class="btn btn-info" onclick="$('#confirmPublishTeams').modal('show');">
              Publicar Lista de Equipes na TBA
            </button>
          </div>
        {{end}}
        {{if .EventSettings.NetworkSecurityEnabled}}
          <div class="form-group">
            <a href="/setup/teams/generate_wpa_keys?all=true" class="btn btn-primary">Gerar Todas as Chaves WPA</a>
          </div>
          <div class="form-group">
            <a href="/setup/teams/generate_wpa_keys?all=false" class="btn btn-primary">Gerar Chaves WPA Faltantes</a>
          </div>
        {{end}}
      </fieldset>
    </form>
  </div>
  <div class="col-lg-10">
    <table class="table table-hover">
      <thead>
        <tr>
          <th style="color: white !important;">#</th>
          <th style="color: white !important;">Nome</th>
          <th style="color: white !important;">Apelido</th>
          <th style="color: white !important;">Localização</th>
          <th style="color: white !important;">Ano de Estreia</th>
          <th style="color: white !important;">Nome do Robô</th>
          <th style="color: white !important;">Ação</th>
        </tr>
      </thead>
      <tbody>
        {{range $team := .Teams}}
          <tr {{if $team.PassedInspection}}style="background-color: #1eff0022; color: black !important;"{{else}} style="background-color: #f002; color: white !important;"{{end}}>
            <td>{{$team.Id}}</td>
            <td>{{$team.Name}}</td>
            <td>{{$team.Nickname}}</td>
            <td>{{$team.City}}, {{$team.StateProv}}, {{$team.Country}}</td>
            <td>{{$team.RookieYear}}</td>
            <td>{{$team.RobotName}}</td>
            <td class="text-center nowrap">
              <form action="/setup/teams/{{$team.Id}}/delete" method="POST">
                <a href="/setup/teams/{{$team.Id}}/edit">
                  <button type="button" class="btn btn-info btn-xs">
                    <i class="glyphicon glyphicon-edit"></i>
                  </button>
                </a>
                <button type="submit" class="btn btn-primary btn-xs">
                  <i class="glyphicon glyphicon-trash"></i>
                </button>
              </form>
            </td>
          </tr>
        {{end}}
      </tbody>
    </table>
    <b>{{len .Teams}} equipes</b>
  </div>
</div>
<div id="confirmClearTeams" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p>Você tem certeza de que deseja limpar a lista de equipes?</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/teams/clear" method="POST">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Limpar Lista de Equipes</button>
        </form>
      </div>
    </div>
  </div>
</div>
<div id="confirmPublishTeams" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p>Você tem certeza de que deseja publicar a lista de equipes no The Blue Alliance? Isso substituirá qualquer dado de lista de equipes existente.</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/teams/publish" method="POST">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Publicar Lista de Equipes</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}{{end}}
