{{/*
  Copyright 2014 Team 254. All Rights Reserved.
  Author: pat@patfairbank.com (Patrick Fairbank)

  UI for configuring event settings.
*/}}
{{define "title"}}Settings{{end}}
{{define "body"}}
<div class="row">
  {{if .ErrorMessage}}
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      {{.ErrorMessage}}
    </div>
  {{end}}
  <div class="col-lg-6 col-lg-offset-1">
    <div class="well">
      <form class="form-horizontal" action="/setup/settings" method="POST">
        <fieldset>
          <legend>Configurações do Evento</legend>
          <div class="form-group">
            <label class="col-lg-5 control-label">Nome</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="name" placeholder="{{.Name}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Tipo de Playoff</label>
            <div class="col-lg-7">
              <div class="radio">
                <label>
                  <input type="radio" name="elimType" value="single" onclick="updateNumElimAlliances(false);"
                      {{if eq .ElimType "single"}}checked{{end}}>
                  Eliminação Simples (2-16 alianças)
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="elimType" value="double" onclick="updateNumElimAlliances(true);"
                      {{if eq .ElimType "double"}}checked{{end}}>
                  Eliminação Dupla (8 alianças)
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Número de Alianças</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="numElimAlliances" value="{{.NumElimAlliances}}"
                  {{if eq .ElimType "double"}}disabled{{end}}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Ordem de Seleção da 1ª Rodada</label>
            <div class="col-lg-7">
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound1Order" value="F"
                      {{if eq .SelectionRound1Order "F"}}checked{{end}}>
                  Primeiro ao Último
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="selectionRound1Order" value="L"
                      {{if eq .SelectionRound1Order "L"}}checked{{end}}>
                  Último ao Primeiro
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Ordem de Seleção da 2ª Rodada</label>
            <div class="col-lg-7">
              <div class="radio">
                <label>
                  <input type="radio" name="SelectionRound2Order" value="F"
                      {{if eq .SelectionRound2Order "F"}}checked{{end}}>
                  Primeiro ao Último
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="SelectionRound2Order" value="L"
                      {{if eq .SelectionRound2Order "L"}}checked{{end}}>
                  Último ao Primeiro
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" name="SelectionRound2Order" value=""
                      {{if eq .SelectionRound2Order ""}}checked{{end}}>
                  Nenhum
                </label>
              </div>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Download Automático de Informações da Equipe</legend>
          <div class="form-group">
            <label class="col-lg-9 control-label">Habilitar Download Automático de Informações da Equipe (Do TBA)</label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" name="TBADownloadEnabled"{{if .TBADownloadEnabled}} checked{{end}}>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Publicação</legend>
          <p>Entre em contato com The Blue Alliance para obter um código de evento e credenciais.</p>
          <div class="form-group">
            <label class="col-lg-7 control-label">Habilitar publicação no The Blue Alliance</label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" name="tbaPublishingEnabled"{{if .TbaPublishingEnabled}} checked{{end}}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Código do Evento TBA</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="tbaEventCode" value="{{.TbaEventCode}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">ID de Autenticação TBA</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="tbaSecretId" value="{{.TbaSecretId}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Segredo TBA</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="tbaSecret" value="{{.TbaSecret}}">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Autenticação</legend>
          <p>Configure a senha para habilitar a autenticação, ou deixe em branco para desabilitar.</p>
          <div class="form-group">
            <label class="col-lg-5 control-label">Senha para o usuário 'admin'</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" name="adminPassword" value="{{.AdminPassword}}">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Rede</legend>
          <p>Habilite esta configuração se você tiver um ponto de acesso Linksys WRT1900ACS e um switch da série Catalyst 3500 disponíveis, para isolar cada equipe em seu próprio SSID e VLAN.</p>
          <div class="form-group">
            <label class="col-lg-7 control-label">Habilitar segurança avançada de rede</label>
            <div class="col-lg-1 checkbox">
              <input type="checkbox" name="networkSecurityEnabled"{{if .NetworkSecurityEnabled}} checked{{end}}>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Endereço do AP</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="apAddress" value="{{.ApAddress}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Nome de Usuário do AP</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="apUsername" value="{{.ApUsername}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Senha do AP</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" name="apPassword" value="{{.ApPassword}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Canal da Equipe do AP (5GHz)</label>
            <div class="col-lg-7">
              <select class="form-control" name="apTeamChannel" value="{{.ApTeamChannel}}">
                <option{{if eq .ApTeamChannel 36}} selected{{end}}>36</option>
                <option{{if eq .ApTeamChannel 40}} selected{{end}}>40</option>
                <option{{if eq .ApTeamChannel 44}} selected{{end}}>44</option>
                <option{{if eq .ApTeamChannel 48}} selected{{end}}>48</option>
                <option{{if eq .ApTeamChannel 149}} selected{{end}}>149</option>
                <option{{if eq .ApTeamChannel 153}} selected{{end}}>153</option>
                <option{{if eq .ApTeamChannel 157}} selected{{end}}>157</option>
                <option{{if eq .ApTeamChannel 161}} selected{{end}}>161</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Canal de Administração do AP (2.4GHz)</label>
            <div class="col-lg-7">
              <select class="form-control" name="apAdminChannel" value="{{.ApAdminChannel}}">
                <option{{if eq .ApAdminChannel 0}} selected{{end}}>Desabilitado</option>
                <option{{if eq .ApAdminChannel 1}} selected{{end}}>1</option>
                <option{{if eq .ApAdminChannel 6}} selected{{end}}>6</option>
                <option{{if eq .ApAdminChannel 11}} selected{{end}}>11</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Chave WPA de Administração do AP</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" name="apAdminWpaKey" value="{{.ApAdminWpaKey}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Endereço do Switch</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="switchAddress" value="{{.SwitchAddress}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Senha do Switch</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" name="switchPassword" value="{{.SwitchPassword}}">
            </div>
          </div>
          <p>Se você tiver um segundo ponto de acesso disponível e quiser usar um para cada aliança para aumentar a largura de banda disponível, configure o segundo abaixo.</p>
          <div class="form-group">
            <label class="col-lg-5 control-label">Endereço do Segundo AP</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="ap2Address" value="{{.Ap2Address}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Nome de Usuário do Segundo AP</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="ap2Username" value="{{.Ap2Username}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Senha do Segundo AP</label>
            <div class="col-lg-7">
              <input type="password" class="form-control" name="ap2Password" value="{{.Ap2Password}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Canal da Equipe do Segundo AP (5GHz)</label>
            <div class="col-lg-7">
              <select class="form-control" name="ap2TeamChannel" value="{{.Ap2TeamChannel}}">
                <option{{if eq .Ap2TeamChannel 0}} selected{{end}}>Desabilitado</option>
                <option{{if eq .Ap2TeamChannel 36}} selected{{end}}>36</option>
                <option{{if eq .Ap2TeamChannel 40}} selected{{end}}>40</option>
                <option{{if eq .Ap2TeamChannel 44}} selected{{end}}>44</option>
                <option{{if eq .Ap2TeamChannel 48}} selected{{end}}>48</option>
                <option{{if eq .Ap2TeamChannel 149}} selected{{end}}>149</option>
                <option{{if eq .Ap2TeamChannel 153}} selected{{end}}>153</option>
                <option{{if eq .Ap2TeamChannel 157}} selected{{end}}>157</option>
                <option{{if eq .Ap2TeamChannel 161}} selected{{end}}>161</option>
              </select>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>PLC</legend>
          <div class="form-group">
            <label class="col-lg-5 control-label">Endereço do PLC</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="plcAddress" value="{{.PlcAddress}}">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Específico do Jogo</legend>
          <div class="form-group">
            <label class="col-lg-5 control-label">Duração do Período Autônomo (segundos)</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="autoDurationSec" value="{{.AutoDurationSec}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Duração da Pausa (segundos)</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="pauseDurationSec" value="{{.PauseDurationSec}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Duração do Período Teleoperado (segundos)</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="teleopDurationSec" value="{{.TeleopDurationSec}}">
            </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 control-label">Duração Restante do Aviso (segundos)</label>
            <div class="col-lg-7">
              <input type="text" class="form-control" name="warningRemainingDurationSec"
                value="{{.WarningRemainingDurationSec}}">
            </div>
          </div>
        </fieldset>
        <div class="form-group">
          <div class="col-lg-7 col-lg-offset-5">
            <button type="submit" class="btn btn-info">Salvar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="well">
      <legend>Banco de Dados</legend>
      <p>
        <a href="/setup/db/save"><button class="btn btn-info">Salvar Cópia do Banco de Dados</button></a>
      </p>
      <p>
        <button type="button" class="btn btn-primary" onclick="$('#uploadDatabase').modal('show');">
          Carregar Banco de Dados de Backup
        </button>
      </p>
      <p>
        <button type="button" class="btn btn-primary" onclick="$('#confirmClearData').modal('show');">
          Limpar Todos os Dados de Partida
        </button>
      </p>
    </div>
  </div>
</div>
<div id="uploadDatabase" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Escolher Arquivo de Backup</h4>
      </div>
      <form class="form-horizontal" action="/setup/db/restore" enctype="multipart/form-data" method="POST">
        <div class="modal-body">
          <p>Selecione o arquivo de banco de dados para carregar. <b>Isso substituirá quaisquer dados existentes.</b></p>
          <input type="file" name="databaseFile">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Carregar Banco de Dados de Backup</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div id="confirmClearData" class="modal" style="top: 20%;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Confirmar</h4>
      </div>
      <div class="modal-body">
        <p>Tem certeza de que deseja limpar todos os dados de partida, classificação e seleção de alianças?</p>
      </div>
      <div class="modal-footer">
        <form class="form-horizontal" action="/setup/db/clear" method="POST">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Limpar Todos os Dados de Partida</button>
        </form>
      </div>
    </div>
  </div>
</div>
{{end}}
{{define "script"}}
<script>
  updateNumElimAlliances = function(isDoubleElimination) {
    const numElimAlliances = $("input[name=numElimAlliances]");
    numElimAlliances.prop("disabled", isDoubleElimination);
    if (isDoubleElimination) {
      numElimAlliances.val(8);
    }
  };
</script>
{{end}}
